<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</head>

<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <form action="{{url_for('auth.login')}}" method="post" class="ui raised segment form" style="width: 50%;">
            <h3 class="ui center aligned header">Login</h3>

            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>

            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>

            <div style="display: flex; justify-content: space-between; align-items: center;">
                <button class="ui blue button" type="submit">Login</button>
                <p>Not registered? <a href="{{url_for('hello')}}">Register</a></p> <!--TO BE CHANGED-->
            </div>
        </form>
    </div>
</body>

</html>