<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="auth-box">
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 shadow-xl">
            <legend class="fieldset-legend fieldset-legend-extra">Login</legend>

            <form action="{{url_for('auth.register')}}" method="post" class="ui raised segment form">
                <div class="some-space-above">
                    <label class="label">Username</label>
                    <input type="text" class="input" name="username" placeholder="Username">
                </div>

                <div class="some-space-above">
                    <label class="label">Password</label>
                    <input type="password" class="input" name="password" placeholder="Password">
                </div>

                <button class="btn btn-block btn-neutral mt-4" type="submit">Register</button>
                {% for message in get_flashed_messages() %}
                <div>{{ message }}</div>
                {% endfor %}
                <p class="some-space-above">Already registered? <a href="{{url_for('auth.login')}}"
                        class="link">Login</a></p>
            </form>
        </fieldset>
    </div>
</body>

</html>