<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    {% if user.is_authenticated %}
    <h4>Welcome, {{user.username}}</h4>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% endif %}
    <br>
    <a href="{{url_for('blog.new')}}">New Post</a>

    <p>
        {% for each_post in all_posts %}
        <br>
        {{ each_post.title }}
        <br>
        {{ each_post.content }}
        <br>
        Aut: {{ each_post.author.username }}
        <br>
        {{ each_post.date }}
        <br>
        <a href="/edit/{{each_post.id}}">Edit</a>
        <a href="/delete/{{each_post.id}}">Delete</a>
        <br>
        {% endfor %}
    </p>
</body>

</html>